<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="COMMONERROR" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="INTEGRATION" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-integration.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="ORDER" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-biz.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="SCHEDUE" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-schedue.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="SPRING" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-spring.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="HIBERNATE" class="ch.qos.logback.core.FileAppender">
        <file>logs/hexie/common-db.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework"  level="INFO" additivity="false">  
	    <appender-ref ref="SPRING"/>  
	</logger>
    <logger name="com.yumu.hexie"  level="WARN" additivity="false">  
	    <appender-ref ref="COMMONERROR"/>  
	</logger>
    <logger name="com.yumu.hexie.integration"  level="INFO" additivity="false">  
	    <appender-ref ref="INTEGRATION"/>  
	</logger>
    <logger name="org.hibernate"  level="DEBUG" additivity="false">  
	    <appender-ref ref="HIBERNATE"/>  
	</logger>
    <logger name="com.yumu.hexie.service.sales.impl.BaseOrderServiceImpl"  level="INFO" additivity="false">  
	    <appender-ref ref="ORDER"/>  
	</logger>
    <logger name="com.yumu.hexie.service.payment.impl.PaymentServiceImpl"  level="INFO" additivity="false">  
	    <appender-ref ref="ORDER"/>  
	</logger>
	
    <logger name="com.yumu.hexie.schedule"  level="INFO" additivity="false">  
	    <appender-ref ref="SCHEDUE"/>  
	</logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="COMMONERROR"/>
    </root>
</configuration>